extends ../layouts/master

block title
	|#{title}

block styles
	link(rel='stylesheet', href='/stylesheets/admin.css')

block scripts
	script(type='text/javascript',src='/javascripts/admin.js')

block content

	include ../includes/info-box

	header
		h1 #{header}

	section
		table.style3
			tr.style3
					th.style3 Project name
					th.style3 Allotted Student name
					th.style3 Student ID
					th.style3 Primary Major
					th.style3 Secondary Major
					th.style3 Level In School
					th.style3 Grad Date
					th.style3 GPA
					th.style3 Gender
					th.style3 Ethnicity
					th.style3 Previous Experience
					th.style3 Other Employment
					th.style3 Student's Preferences
			tr.style3
				each project in projects
					tr
						td.style3
							p#projectname #{project.description}
						td.style3 
							select.level#AllottedStudentName(name='AllottedStudentName')
								option(value='', selected='selected') 
									each application in applications
										option(value=application.id) #{application.name}
						if(application)
							td.style3
								p #{application.sid}
							td.style3 
								p #{application.Academics.primary_major}
							td.style3 
								p #{application.Academics.secondary_major}
							td.style3 
								p #{application.Academics.next_fall_level}
							td.style3 
								p #{application.Academics.grad_month}/#{application.Academics.grad_year}
							td.style3 
								p #{application.Academics.gpa}
							td.style3 
								p #{application.gender}
							td.style3 
								p #{application.race}
							td.style3 
								p #{application.prev_research_exp}
							td.style3
								p #{application.Apprenticeship.prev_application}
							td.style3
								if(application.Apprenticeship.most_interest)
									a.buttonstyle(href='/project/'+application.Apprenticeship.most_interest+'/view') Most Interest
								if(application.Apprenticeship.high_interest)
									a.buttonstyle(href='/project/'+application.Apprenticeship.high_interest+'/view') High Interest
								if(application.Apprenticeship.moderate_interest)
									a.buttonstyle(href='/project/'+application.Apprenticeship.moderate_interest+'/view') Moderate Interest
								if(application.Apprenticeship.low_interest)
									a.buttonstyle(href='/project/'+application.Apprenticeship.low_interest+'/view') Low Interest
								if(application.Apprenticeship.least_interest)
									a.buttonstyle(href='/project/'+application.Apprenticeship.least_interest+'/view') Least Interest
