extends ../layouts/master

block title
	|#{title}

block styles
	link(rel='stylesheet', href='/stylesheets/admin.css')

block scripts
	script(type='text/javascript',src='/javascripts/admin.js')

block content

	include ../includes/info-box

	header
		h1 #{header}

	section
		a.buttonstyle(href='/admin/export') Export to Spreadsheet
		table.style3
			tr.style3
					th.style3 Project name
					th.style3 Allotted Student name
					th.style3 Overwrite
					th.style3 Student ID
					th.style3 Primary Major
					th.style3 Secondary Major
					th.style3 Level In School
					th.style3 Grad Date
					th.style3 GPA
					th.style3 Gender
					th.style3 Ethnicity
					th.style3 Previous Experience
					th.style3 Other Employment
					th.style3 Student's Preferences
			tr.style3
			each project,i in projects
				tr
					td.style4
						p( id="projectname"+project.id)
					td.style3 
							select.level(id="AllottedStudentname"+project.id)
								option(value='', selected='selected') 
									each application in applications
										option(value=application.id) #{application.name}
					td.style3
							input(type='checkbox',id="Overwrite"+project.id, name='overwrite', value='Yes'  checked=false)
					td.style3 
						p( id="sid"+project.id)
					td.style3 
						p( id="primajor"+project.id)
					td.style3 
						p( id="secmajor"+project.id)
					td.style3 
						p( id="levelinschool"+project.id)
					td.style3 
						p( id="graddate"+project.id)
					td.style3 
						p( id="gpa"+project.id)
					td.style3 
						p( id="gender"+project.id)
					td.style3 
						p( id="ethnicity"+project.id)
					td.style3 
						p( id="previousexperience"+project.id)
					td.style3 
						p( id="otheremployment"+project.id)
					td.style4
						table.style3
							tr
								td.style4
									a(href='#' id='mostint'+project.id)
							tr
								td.style4
									a(href='#' id='highint'+project.id)
							tr
								td.style4
									a(href='#' id='modint'+project.id)
							tr
								td.style4
									a(href='#' id='lowint'+project.id)
							tr
								td.style4
									a(href='#' id='leastint'+project.id)
