extends ../layouts/master

block title
	|#{title}

block styles
	link(rel='stylesheet', href='/stylesheets/project-list.css')

block content
	header
		h #{header}


	div.search-form
		form(method='post', action='/project/list', role='form')
			input(type='text', name='search_query', value=(prev_value ? prev_value : ''))
			| Filter By :-
			input(type='radio', name='search_by', value='title' checked)
			| Title
			input(type='radio', name='search_by', value='faculty' checked=faculty_search)
			| Faculty
			input(type='radio', name='search_by', value='description' checked=description_search)
			| Description
			input(type='checkbox', name='sort', value='desc' checked=recent)
			| Most recent first
			input(type='hidden', name='_csrf', value=csrfToken)
			input.btn.btn-success(type='submit', value='Search')

	section
	table.style4
			tr
				td
					each project in projects
						li #{project.description} by #{project.name}
							a(href='/project/'+project.id+'/view') View Project



