extends ../layouts/master

block title
	|#{title}

block styles
	link(rel='stylesheet', href='/stylesheets/project-list.css')

block content
	header
		h #{header}
		h1 Complete Listing of Discovery Learning Apprenticeships by Faculty Affiliation with a Department or Program

	section
	table.style4
			tr
				td
						table.style3
								tr
									th Project Name
									th Contact Name(s)
									th Complete Description 
									th Requirements
								each project in projects
									tr
										td 	#{project.description}
										td  
											br
											li #{project.url}
										td 	#{project.longdescription}
										td 	
											li #{project.requirements1}
											li #{project.requirements2}
											li #{project.requirements3}
											li #{project.requirements4}
											li #{project.requirements5}
											br
											li > #{project.supervision_req}
											li > #{project.supervision_provided}
											li > #{project.nature_of_work}
											li > #{project.prior_work}
											








