extends ../layouts/master

block title
	|Project Details

block styles
	link(rel='stylesheet', href='/stylesheets/project-single.css')

block scripts
	script(type='text/javascript',src='/javascripts/project-single.js')

block content
	header
		h1 
			li #{project.Faculty.faculty_department} - #{project.description} 
			li by #{project.Faculty.name}, #{project.Faculty.secondary_name}

	section
	table.style4
			tr
				th.style4 About the Project
			tr
				td
					li #{project.longdescription}
					br
					li 
						p#8 #{project.url}
						a#9
					br
	table.style6
			tr
				th.style4 Contact Name(s)
			tr
				td
					li #{project.Faculty.name}
					li #{project.Faculty.phone}
					li #{project.Faculty.email}
					br
			tr
				td
					li #{project.Faculty.secondary_name}
					li #{project.Faculty.secondary_phone}
					li #{project.Faculty.secondary_email}
					br
			tr
				td
					li #{project.Faculty.post_doc_name}
					li #{project.Faculty.post_doc_phone}
					li #{project.Faculty.post_doc_email}
					br
	table.style6
			tr
				th.style4 Requirements
			tr
				td
					li Students must meet the following requirements :
					li.style2 #{project.requirements1}
					li.style2 #{project.requirements2}
					li.style2 #{project.requirements3}
					li.style2 #{project.requirements4}
					li.style2 #{project.requirements5}
					br
	table.style6
			tr
				th.style4 More about the Apprenticeship
			tr
				td
					li Students belonging to the following areas can apply :
					li.style2 
						p#1 #{project.areas}
					br
					li Other Information : 
					li.style2
						p#2 #{project.supervision_req}
					li.style2
						p#3 #{project.supervision_provided}
					li.style2
						p#4 #{project.nature_of_work}
					li.style2
						p#5 #{project.nature_of_work_other}
					li.style2
						p#6 #{project.prior_work}
					li.style2
						p#7 #{project.prior_work_other}