extends ../layouts/master

block title
	|Project Details

block styles
	link(rel='stylesheet', href='/stylesheets/project-single.css')

block scripts
	script(type='text/javascript',src='/javascripts/project-single.js')

block content
	header
		h1 
			li #{project.Faculty.faculty_department} - #{project.description} 
			li by #{project.Faculty.name}, #{project.Faculty.secondary_name}

	section
	table.style4
			tr
				th.style4 About the Project
			tr
				td
					li #{project.longdescription}
					li #{project.url}
	table.style6
			tr
				th.style4 Contact Name(s)
			tr
				td
					li #{project.Faculty.name}
					li #{project.Faculty.phone}
					li #{project.Faculty.email}
					br
			tr
				td
					li #{project.Faculty.secondary_name}
					li #{project.Faculty.secondary_phone}
					li #{project.Faculty.secondary_email}
	table.style6
			tr
				th.style4 Requirements
			tr
				td
					li #{project.requirements1}
					li #{project.requirements2}
					li #{project.requirements3}
					li #{project.requirements4}
					li #{project.requirements5}
	table.style6
			tr
				th.style4 More about the Apprenticeship
			tr
				td
					li Students belonging to the following areas can apply:
					li #{project.areas}
					li 
						p#1 #{project.supervision_req}
					li #{project.supervision_provided}
					li #{project.nature_of_work}
					li #{project.prior_work}
