extends ../layouts/master

block title
	|#{title}

block styles
	link(rel='stylesheet', href='/stylesheets/project-list.css')

block content
	header
		h1 #{header}

	section
	div.search-form
		form(method='post', action='/project/list', role='form')
			input(type='text', name='search_query', value=(prev_value ? prev_value : ''))
			br
			| Filter By :-  
			input(type='radio', name='search_by', value='title' checked)
			| Title
			input(type='radio', name='search_by', value='faculty' checked=faculty_search)
			| Faculty
			input(type='radio', name='search_by', value='description' checked=description_search)
			| Description
			input(type='radio', name='search_by', value='department' checked=department_search)
			| Department
			input(type='radio', name='search_by', value='major' checked=area_search)
			| Majors for which the project is available
			<br>
			input(type='checkbox', name='sort', value='desc' checked=recent)
			| Most recent first
			input(type='hidden', name='_csrf', value=csrfToken)
			input.btn.btn-success(type='submit', value='Search')


	table.style4
			tr
				td
						table.style3
								tr
									th Project Name
									th Contact Name(s)
									th Complete Description 
									th Requirements
								each project in projects
									tr
										td 	#{project.description}
										td  
											br
											li #{project.url}
										td 	#{project.longdescription}
										td 	
											li #{project.requirements1}
											li #{project.requirements2}
											li #{project.requirements3}
											li #{project.requirements4}
											li #{project.requirements5}
											br
											li > #{project.supervision_req}
											li > #{project.supervision_provided}
											li > #{project.nature_of_work}
											li > #{project.prior_work}
											








