html
	head 
		title 
		link(
				rel='stylesheet', 
				href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
				integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', 
				crossorigin='anonymous'
			)

	body
		script(
				src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', 
				integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
				crossorigin='anonymous'
				
			)
						
h1 Discovery Learning Apprenticeship Submission	
		
form#faculty-form(method='post',action='contact.php', role='form')
	form
		br
		br
		fieldset#PrimaryFacultyInfo
			legend Faculty Member Information
			
			label(for='form_name') * Faculty Name: 	
			input#form_name(type='text', name='name', placeholder='First Last', required='required', data-error='Faculty Name is required.')
			.help-block.with-errors
			
		
			label(for='form_phone') * Faculty Phone Number:  	
			|	(
			input#form_phone1.required(name='phone1', type='tel', placeholder='###',pattern="^[0-9]{3}", maxlength='3', size='1')
			|)	
			input#form_phone2.required(name='phone2', type='tel', placeholder='###',pattern="^[0-9]{3}", maxlength='3', size='1')
			|	-	
			input#form_phone3.required(name='phone3', type='tel',placeholder='####',pattern="^[0-9]{4}", maxlength='4', size='1.33')
			.help-block.with-errors
			
			label(for='form_email') * Faculty Email Address:  	
			input#form_email(type='email', name='email', placeholder='First.Last@Colorado.edu', required='required', data-error='Valid email is required.')
			.help-block.with-errors
			
			label(for='Faculty Department/Program') * Faculty Department/Program:
			select#Faculty Department/Program(name='Faculty Department/Program', required='required')
			
				option(calue='PS') Please Select
				option(value='AES') Aerospace Engineering Sciences
				option(value='AM') Applied Math
				option(value='C&BE') Chemical & Biological Engineering
				option(value='CE&A') Civil, Environmental and Architectural Engineering
				option(value='CS') Computer Science
				option(value='ECEE') Electrical, Computer and Energy Engineering
				option(value='PHY') Physics
				option(value='EE') Environmental Engineering
				option(value='ME') Mechanical Engineering
				option(value='CSG') Colorado Space Grant
				option(value='EEd') Engineering Education
				option(value='ATLAS') ATLAS
				
			br

			label(for='form_EDC') Does this project have a focus on Engineering for Developing Communities?  
			
				input#EDC(type='radio', name='EDC', value='Yes') 
				|	Yes  
				input#EDC(type='radio', name='EDC', value='No') 
				|	No
			br
			br
			br
			
		fieldset#SecondaryFacultyInfo
			legend Optional Secondary Faculty Member
			
			label(for='form_name')  Faculty Name: 	
			input#form_name(type='text', name='name', placeholder='First Last', data-error='Faculty Name is required.')
			.help-block.with-errors
			
			label(for='form_phone')  Faculty Phone Number:  	
			|	(
			input#form_phone1(name='phone1', type='tel', placeholder='###',pattern="^[0-9]{3}", maxlength='3', size='1')
			|)	
			input#form_phone2(name='phone2', type='tel', placeholder='###', pattern="^[0-9]{3}", maxlength='3', size='1')
			|	-	
			input#form_phone3(name='phone3', type='tel',placeholder='####', pattern="^[0-9]{4}", maxlength='4', size='1.33')
			.help-block.with-errors
			
			label(for='form_email')  Faculty Email Address:  	
			input#form_email(type='email', name='email', placeholder='First.Last@Colorado.edu', data-error='Valid email is required.')
			.help-block.with-errors
			
			label(for='Faculty Department/Program')  Faculty Department/Program:
			select#Faculty Department/Program(name='Faculty Department/Program')
			
				option(calue='PS') Please Select
				option(value='AES') Aerospace Engineering Sciences
				option(value='AM') Applied Math
				option(value='C&BE') Chemical & Biological Engineering
				option(value='CE&A') Civil, Environmental and Architectural Engineering
				option(value='CS') Computer Science
				option(value='ECEE') Electrical, Computer and Energy Engineering
				option(value='PHY') Physics
				option(value='EE') Environmental Engineering
				option(value='ME') Mechanical Engineering
				option(value='CSG') Colorado Space Grant
				option(value='EEd') Engineering Education
				option(value='ATLAS') ATLAS
				
			br
			br
			br
			
		fieldset#GradStudentPostDoc
			legend Optional Graduate Student/Post Doctorate Information
			
			label(for='form_name')  Name: 	
			input#form_name(type='text', name='name', placeholder='First Last', data-error='Faculty Name is required.')
			.help-block.with-errors
			
			label(for='form_phone')  Phone Number:  	
			|	(
			input#form_phone1(name='phone1', type='tel', placeholder='###',pattern="^[0-9]{3}", maxlength='3', size='1')
			|)	
			input#form_phone2(name='phone2', type='tel', placeholder='###',pattern="^[0-9]{3}", maxlength='3', size='1')
			|	-	
			input#form_phone3(name='phone3', type='tel',placeholder='####',pattern="^[0-9]{4}", maxlength='4', size='1.33')
			.help-block.with-errors
			
			label(for='form_email')  Email Address:  	
			input#form_email(type='email', name='email', placeholder='First.Last@Colorado.edu', data-error='Valid email is required.')
			.help-block.with-errors
		
			br
			br
		fieldset#info
			legend  Apprenticeship Information 
			
			label(for='description') * Title or Brief Description of Apprenticeship:
			br 
			textarea#description(name='description', rows='2', required='required', maxlength='80', data-error='Please, provide a description.')
			.help-block.with-errors
			
			label(for='URL') Website URL to Provide Additional Information:
			br
			input#URL(type='url', name='URL', placeholder='https://www.website.com')
			br
			br
			
			label(for='requirements') Special Requirements for Applicants: 
			
				fieldset.requirements
					|1)  
					textarea#requirements(name='requirements1', maxlength='200')
					br
					|2)
					textarea#requirements(name='requirements2', maxlength='200')
					br
					|3)
					textarea#requirements(name='requirements3', maxlength='200')
					br
					|4)
					textarea#requirements(name='requirements4', maxlength='200')
					br
					|5)
					textarea#requirements(name='requirements5', maxlength='200')
					.help-block.with-errors
			br
			
			label(for='longdescription') * Longer Description of Apprenticeship:
			br
			textarea#longdescription(name='longdescription', rows='2', required='required', maxlength='1200', data-error='Please, provide a description.')
			.help-block.with-errors
			br
			
			label(for='areas') * Areas to Recruit Students From:
			br
			|*Only students from the areas you select will be able to apply. 
			br
			br
			
			table
				tr
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Aerospace Engineering
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Electrical Engineering
				tr
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Applied Mathematics	
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Electrical and Computer Engineering
				tr
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Architectural Engineering
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Engineering Physics
				tr
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Chemical Engineering
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Environmental Engineering
				tr
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Chemical & Biological Engineering	
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Engineering Plus
				tr
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Civil Engineering
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Mechanical Engineering
				tr
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Computer Science
					td
						input(type='checkbox', name='myTextEditBox', value='checked')
						|  Technology, Arts and Media
			br
			
			label(for='amountofsup') * Amount of Supervision Required / Inteaction Available:
				
			table
				tr
					td
						input#amountofsup(type='radio', name='AmountReq', value='Little') 
						|	Very little supervision; student will need to work largely independently
				tr
					td
						input#amountofsup(type='radio', name='AmountReq', value='Moderate') 
						|	Moderate amount of supervision and interaction with others
				tr
					td
						input#amountofsup(type='radio', name='AmountReq', value='Large') 
						|	A great deal of supervision and interaction with others
			br
			
			br
			
			label(for='supprov') * Supervision Provided By:
				
			table
				tr
					td
						input#supprov(type='radio', name='PrimSup', value='Faculty') 
						|	Supervision primarily by faculty supervisor
				tr
					td
						input#supprov(type='radio', name='PrimSup', value='Graduate') 
						|	Supervision primarily by graduate students
				tr
					td
						input#supprov(type='radio', name='PrimSup', value='Combo') 
						|	Supervision primarily a combination of faculty and graduate students
			br
			
			label(for='nature') * Nature of Work:
				
			table
				tr
					td
						input#nature(type='radio', name='Nature', value='Theoretical') 
						|	Nature of work is primarily theoretical, most work on paper/electronic medium
				tr
					td
						input#nature(type='radio', name='Nature', value='Experimental') 
						|	Nature of work is primarily experimental, requiring hands-on work in a lab
				tr
					td
						input#nature(type='radio', name='Nature', value='FieldBased') 
						|	Nature of work is primarily field based, requiring hands-on work in the field
				tr
					td
						input#nature(type='radio', name='Nature', value='ComputerRelated') 
						|	Nature of work is primarily computer-related, involving coding/analysis
				tr
					td
						input#nature(type='radio', name='Nature', value='Combo') 
						|	Nature of work is a combination of several types of work.
				tr
					td
						input#nature(type='radio', name='Nature', value='Other') 
						|	other, specify:
						input#nature(type='text', name='NatureOther', maxlength='60')
						.help-block.with-errors
			br
			
			label(for='Amount') * Amount of Prior Work Conducted in Association With This Project:
				
			table
				tr
					td
						input#amount(type='radio', name='AmountPrior', value='None') 
						|	No prior work; student will be starting from basic idea
				tr
					td
						input#amount(type='radio', name='AmountPrior', value='Some') 
						|	Some prior work; student will build on work of others
				tr
					td
						input#amount(type='radio', name='AmountPrior', value='Refine') 
						|	Well-established body of work; student will refine/improved upon efforts of others
				tr
					td
						input#amount(type='radio', name='AmountPrior', value='Other') 
						|	other, specify:
						input#amount(type='text', name='OtherAmount', maxlength='60')
						.help-block.with-errors
		
		br
		br
		
		fieldset#finances
			legend  Finances
			
			label(for='finances') * Speed Type for 50% Match of Funding: 
			input#finances(name='finances', type='tel', placeholder='########',pattern="^[0-9]{8}", required='required', maxlength='8', size='6', data-error='Please, provide a speed type.')
			|	or 
			input(type='checkbox', name='myTextEditBox', value='checked')
			|  	Not Sure
			br
			br
			
			label(for='contact') * Accounting Contact for Project:  
			input#contact(type='text', name='name', placeholder='First Last', required='required', data-error='Accounting Contact Name is required.')
			
			br
		br
		br
			
		fieldset#other
			legend Other
			
			label(for='Past') Have you, the faculty supervisor, supervised a Discovery Learning Apprentice in the past?  
			
				input#Past(type='radio', name='Past', value='Yes') 
				|	Yes  
				input#Past(type='radio', name='Past', value='No') 
				|	No
			br
			
			label(for='specific') Name of Specific Students Desired:
					br
					|1)  
					input#contact(type='text', name='student', placeholder='First Last')
					br
					|2)
					input#contact(type='text', name='student', placeholder='First Last')
					br
					|3)
					input#contact(type='text', name='student', placeholder='First Last')
					br
			
			br
			br
			br
			
			input.btn.btn-success.btn-send(type='submit', value='Save')
			|		
			input.btn.btn-success.btn-send(type='submit', value='Reset')
			|		
			input.btn.btn-success.btn-send(type='submit', value='Submit')
				
		

