html
	head
		title Project

	body

		h1 Faculty Information
		p Faculty Name : #{project.name}
		p Phone : #{project.phone}
		p Email : #{project.email}
		p Department : #{project.faculty_department}

		h1 Secondary Faculty Information
		p Faculty Name : #{project.secondary_name}
		p Phone : #{project.secondary_phone}
		p Email : #{project.secondary_email}
		p Department : #{project.secondary_faculty_department}

		h1 Apprenticeship Information
		p Description : #{project.description}
		p URL : #{project.url}
		p requirements1 : #{project.requirements1}
		p requirements2 : #{project.requirements2}
		p requirements3 : #{project.requirements3}
		p requirements4 : #{project.requirements4}
		p requirements5 : #{project.requirements5}
		p Longer Description : #{project.longdescription}
		p Areas : #{project.areas}
		p Supervision Required: #{project.supervision_req}
		p Supervision Provided : #{project.supervision_provided}
		p Nature of Work : #{project.nature_of_work}
		p Prior Work : #{project.prior_work}
		p Match of funding: #{project.match_of_funding}
		p Contact : #{project.contact}
		p Specific Students : #{project.specific_students1}, #{project.specific_students2}, #{project.specific_students3}


